@use './breakpoints.scss' as breakpoints;

main{
    @include breakpoints.xl{
        padding: 1rem 6%;
        height: calc(100vh - 3.5rem)
    }
}

.rc-slider-handle:active{
    box-shadow: 0 0 5px #1e1e1e !important;
}